
<div class = "object-profile">
    <div class="row">

        <div class="col-3 object-avatar">
            <div class="avatar">
                <img src = "{{ object.picture }}">
            </div>
        </div>

        <div class="col object-info">
            <h4>Name: {{ object.name }}</h4>
            <br>
            <h5>Type: {{ object.type}}</h5>
            <br>
            <h6>Author: {{ object.author }}</h6>
            <br>
            <p>Rating: {{ object.rating }}</p>
            <br>
            <p *ngIf = "checkUserRating()">
                Не оценено
            </p>
            <p *ngIf = "!checkUserRating()">
                Оценено: {{ userRating }}
            </p>
        </div>

    </div>

    <div>
        <app-object-reviews [reviews] = "object.reviews"></app-object-reviews>
    </div>
    
</div>