
<div class = "object-profile">
    <div class="row">

        <div class="col-3 object-avatar">
            <div class="avatar">
                <img src = "{{ object.picture }}">
            </div>
        </div>

        <div class="col object-info">
            <h4>Name: {{ object.name }}</h4>
            <br>
            <h5>Type: {{ object.type}}</h5>
            <br>
            <h6>Author: {{ object.author }}</h6>
            <br>
            <p>{{ objectRating }}</p>
            <br>
            <div class="user-rating-section">
                <ngb-rating [(rate)]="currentRate"></ngb-rating>
                <hr>
                <pre><b>{{currentRate}}</b></pre>
                <button type="button" *ngIf="currentRate !== selectedRate" (click)="onClickRating()">Update Rating</button>
            </div>
        </div>

    </div>

    <div>
        <app-object-reviews [reviews] = "object.reviews"></app-object-reviews>
    </div>
    
</div>