.object-profile {
    margin: 2rem;

    .object-info {
        margin-left: 2rem;
        background-color: rgb(245, 245, 245);
        padding: 2rem;
        border-radius: 1.5%;
    }

    .review {
        margin-top: 2rem;
        border-radius: 1.5%;
        background-color: rgb(245, 245, 245);
        padding: 2rem;
    }

    .object-avatar {
        border-radius: 1.5%;
        background-color: rgb(245, 245, 245); 
        height: 25vw;

        .avatar {
            border-radius: 1%;
            height: 70%;
            width: 95%;
            margin: 5% 2.5%;
            background-color: #fff;
        }
    }
}
