<div class="row justify-content-md-center">

    <h3 style="text-align: center; margin: 3rem;">Авторизоваться</h3>

    <form class="col-6">
        <div class="form-outline mb-4">
            <input type="email" class="form-control" />
            <label class="form-label">Email address</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" class="form-control" />
            <label class="form-label">Firstname</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" class="form-control" />
            <label class="form-label">Lastname</label>
        </div>
    
        <div class="form-outline mb-4">
            <input type="password" class="form-control" />
            <label class="form-label">Password</label>
        </div>
    
        <div class="row">

            <div class="col">
                <button type="submit" class="btn btn-primary btn-block" style="width: 200px;">Sign up</button>
            </div>
            
        </div>
    </form>

</div>
