.user-profile {
    margin: 2rem;

    .user-info {
        margin-left: 2rem;
        background-color: rgb(245, 245, 245);
        padding: 0.8vw;
        border-radius: 1.5%;
    }

    .photos-section {

        margin-top: 100px;

        img {
            width: 100;
            height: 200px;
            object-fit: cover;
        }
    }


    .user-avatar {
        border-radius: 1.5%;
        background-color: rgb(245, 245, 245); 
        height: 25vw;

        .avatar {
            border-radius: 1%;
            height: 70%;
            width: 95%;
            margin: 5% 2.5%;
            // margin-bottom: 5%;
            background-color: #fff;
            img {
                height: auto;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.mat-elevation-z8 {
    width: 100%;
}

.upload-user-image-btn, .upload-user-image {
    margin-left: 5rem;
}
